{% extends "layout.html" %}

{% block title %}
    Your Portfolio
{% endblock %}

{% block main %}
    <h1 class="mainTitle">Holdings</h1>
    <div class="main-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for holding in holdings %}
                    <tr>
                        <td class="symbol">{{ holding.symbol }}</td>
                        <td>{{ holding.name }}</td>
                        <td>{{ holding.shares }}</td>
                        <td>{{ holding.price }}</td>
                        <td class="holdingValue">{{ holding.total }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="4">CASH</td>
                        <td id="cashValue">{{ cash }}</td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td><b>{{ grand_total }}</b></td>
                </tr>
            </tfoot>
        </table>
        <div class="chart-container" style="position: relative; width:100%">
            <canvas id="allocation"></canvas>
        </div>
    </div>
    <script>
        setTimeout(() => {
            const ctx = document.getElementById('allocation');
            console.log(config)
            const myChart = new Chart(ctx, config);
        }, 100);
    </script>
{% endblock %}
